MY_EMAIL_HOST = 'smtp.mail.ru'  # smtp of your email server
MY_EMAIL_PORT =  2525  # port for send letters from your email server
MY_EMAIL_HOST_USER = 'example@mail.ru'  # your admin email
MY_EMAIL_HOST_PASSWORD = '1234567890'  # password of your admin email
MY_EMAIL_USE_TLS = True
MY_EMAIL_USE_SSL = False
DJANGO_SECRET_KEY = '1234567890' # your secret key for Django (50 symbols)
