{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1 class="container px-4">Привет, я автор!</h1>
<p class="container">
  Меня зовут Дмитрий Соколов. Я тренер по шахматам.<br>
  В начале июня 2021 года записался на курсы Яндекс.Практикум по теме: <strong>Python-разработчик плюс.</strong><br>
  Целью было получить структурированные знания для написания интернет-сервисов для шахматных тренировок.<br>
  Так как существующие не всегда подходят под мои требования. Конечно можно подождать, вдруг что-нибудь появится.<br>
  Но, почему бы не попробовать сделать вещь собственными руками.<br>
  Этот проект был сделан во время обучения по первой части курса: <strong>Бэкенд на Django.</strong><br>
  Это учебный проект, большая благодарность будет каждому кто проверит его функциональность, покликав по кнопкам и ссылкам и даст свой feedback.
</p>
{% endblock %}
