{% extends "base.html" %}
{% block title %}Введите новый пароль{% endblock %}

{% block content %}

{% if validlink %}
  {% with card_header='Введите новый пароль' header_hint='Пожалуйста, введите новый пароль дважды, чтобы мы могли убедиться в правильности написания.' %}
  {% with text_submit='Изменить мой пароль' %}
    {% include 'users/includes/card.html' %} 
  {% endwith %}
  {% endwith %}
{% else %}
  {% with card_header='Ошибка' header_hint='Неверная ссылка для восстановления пароля. Возможно, ей уже воспользовались. Пожалуйста, попробуйте восстановить пароль еще раз.' %}
    {% include 'users/includes/card.html' %} 
  {% endwith %}
{% endif %}

{% endblock %}